*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.submenu{



.principal{
    position: relative;
    background-color: white;
    border: 1px solid black;
    height: 320px;
    overflow: hidden;
    transition: transform 800ms;
    z-index: 1;
}

.cabeca{

    display: flex;
    background-color: #5F98CD;
    width: 300px;
    height: 50px;
    justify-content: space-around;
    align-items: center;

}
.cabeca h1{

font-size: 16px;
color: white;

}
.menu{

    width: 24px;
    height: 17px;
    position: relative;
    cursor: pointer;
}
.mexer{

transform: translateX(200px);

}
.menu:hover #menu{

    background-color: white;
}
.menu:hover #menu::after{

    background-color: white;
}
.menu:hover #menu::before{

    background-color: white;
}

#menu{
    content: '';
    width: 12px;
    height: 3px;
    background-color: aqua;
    position: absolute;
    top: 20%;
    left: 7%;
    transition: background-color 300ms;
    
}

#menu::before {
    content: '';
    width: 20px;
    height: 3px;
    background-color: aqua;
    position: absolute;
    top: 268%;
    height: 4px;
    transition: background-color 300ms;
}

#menu::after {
    content: '';
    width: 6.5px;
    height: 6.5px;
    background-color: aqua;
    position: absolute;
    left: 114%;
    top: -55%;
    border-radius: 50%;
    transition: background-color 300ms;
}

.pesquisa {

    width: 24px;
    position: relative;
    height: 21px;

    &:hover{

        cursor: pointer;
    }
}
.pesquisa:hover #pesquisa{

    border: 3px solid white;


}
.pesquisa:hover #pesquisa::before{

   background-color: white;


}
#pesquisa{

    content: '';
    width:15px;
    height:15px;
    border-radius: 50%;
    border: 3px solid aqua;
    position: absolute; 
    transition: border-color 300ms;



}
#pesquisa::before{

    content:'';
    width: 14px;
    height: 4px;
    background-color: aqua;
    position: absolute;
    bottom: -56%;
    left: 70%;
    transform: rotatez(45deg);
    transition: background-color 300ms;

}
.corpo{
    
    position: relative;
    z-index: 1;

}
.linha{

    position: absolute;
    width: 4px;
    height: 268px;
    background-color: aqua;
    top: -25px;
    left: 40px;
}
.corpo p{

   font-size: 12px;

}
.corpo .datas{

    margin-left: 60px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
}
@keyframes datasanimation {
	from {
		transform: translate3d(0px,200px,0px);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.datas1 {
    animation: datasanimation 1s ease-in-out backwards;
    
}
.datas2 {
    animation: datasanimation 1s ease-in-out .5s backwards;
}
.datas3 {
    animation: datasanimation 1s ease-in-out 1s backwards;
}


.corpo div .data {
    content: '';
    width: 22px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    left: -28px;

}


.corpo div .data::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid #5F98CD;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 13%;
}
.corpo div .data2 {
    content: '';
    width: 22px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    left: -28px;

}

.corpo div .data2::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid #5F98CD;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 12%;
}
.corpo div .data3 {
    content: '';
    width: 22px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    left: -28px;

}

.corpo div .data3::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid #5F98CD;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 12%;
 
}

@keyframes datas {

    to{.corpo .datas{

        transform: translatez(120px);
    
    }
    
}
}