*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2ffc;
    height: 100vh;

}

.corpo{

    display: flex;
    border-radius: 25px;
    background-color: #ffff;
    border: 1px solid white;
    box-shadow: 5px 5px 5px black;
    width: 500px;
    height: 400px;
    justify-content: space-between;
    overflow: hidden;

}

/* lado D */

.ladoD{

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: space-between;

}
.ladoD h1{

    font-size: 20px;

}
.ladoD p{

    text-align: center;
    font-size: 13px;

}


div span{

    background-image: url(imagem/yose100.jpeg);
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
 
}
div span::before{

    content: '';
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    top: -10%;
    left: -11%;
    position: absolute;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid white;
    border-right: 3px solid black;
    transition: transform 1.5s ease-in-out;
 
}
div span::after{

    content: '';
    display: block;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: -5%;
    transition: transform 1.5s ease-in-out;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
   

}
.imagem{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

}
.imagem:hover  span::before{

    transform: rotate(1turn);

}
.imagem:hover  span::after{

    transform: rotate(-1turn);

}

#nome{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* lado E */

.links a{

    display: flex;
    text-decoration: none;
    background-color: blue;
    width: 120px;
    justify-content: center;
    margin-top:15px ;
    padding: 5px;
    border-radius: 25px;
    color: #ffff;
    transition: background-color 500ms;

    &:hover{


        background-color: #2f2ffc;
    }
}


.ladoE div{

    background-color: aqua;
    width: 195px;
    height: 130px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;

    &:hover{

    cursor: pointer;
    background-color: rgb(0, 162, 255);

    }

}
